# Data types and missing data workbook

## Introduction

This is the workbook component of the "Data types and missing data" section of the tutorial.

# Relevant Resources
- [Data Types and Missing Data Reference](https://www.kaggle.com/residentmario/data-types-and-missing-data-reference)

# Set Up

Run the following cell to load your data and some utility functions

In [4]:
import pandas as pd
import seaborn as sns
#from learntools.advanced_pandas.data_types_missing_data import *

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
pd.set_option('max_rows', 5)

# Checking Answers

**Check your answers in each exercise using the  `check_qN` function** (replacing `N` with the number of the exercise). For example here's how you would check an incorrect answer to exercise 1:

In [3]:
#check_q1(pd.DataFrame())
reviews[reviews.country.isnull()]
#reviews.region_2.fillna("Unknown")

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

If you get stuck, **use the `answer_qN` function to see the code with the correct answer.**

For the first set of questions, running the `check_qN` on the correct answer returns `True`.

For the second set of questions, using this function to check a correct answer will present an informative graph!

# Exercises

**Exercise 1**: What is the data type of the `points` column in the dataset?

In [6]:
# Your code here
#reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
reviews.points.dtype

dtype('int64')

**Exercise 2**: Create a `Series` from entries in the `price` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [11]:
# Your code here
reviews.price.astype('str')

0          nan
1         15.0
          ...
129969    32.0
129970    21.0
Name: price, Length: 129971, dtype: object

Here are a few visual exercises on missing data.

**Exercise 3**: Some wines do not list a price. How often does this occur? Generate a `Series`that, for each review in the dataset, states whether the wine reviewed has a null `price`.

In [17]:
# Your code here
reviews.price.isnull()

0          True
1         False
          ...
129969    False
129970    False
Name: price, Length: 129971, dtype: bool

**Exercise 4**: What are the most common wine-producing regions? Create a `Series` counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [29]:
# Your code here
#reviews.fillna('Unknown').groupby('region_1').region_1.count().sort_values(ascending=False)
reviews.region_1.fillna('Unknown').value_counts()

Unknown                               21247
Napa Valley                            4480
                                      ...
Offida Rosso                              1
Vino de Calidad de Tierras de León        1
Name: region_1, Length: 1230, dtype: int64

**Exercise 5**: A neat property of boolean data types, like the ones created by the `isnull()` method, is that `False` gets treated as 0 and `True` as 1 when performing math on the values. Thus, the `sum()` of a list of boolean values will return how many times `True` appears in that list.
Create a `pandas` `Series` showing how many times each of the columns in the dataset contains null values. Your result should look something like this:

```
country        63
description     0
               ..
variety         1
winery          0
Length: 13, dtype: int64
```

Hint: write a map that will extract the vintage of each wine in the dataset. The vintages reviewed range from 2000 to 2017, no earlier or later. Use `fillna` to impute the missing values.

In [41]:
# Your code here
reviews.isnull().sum()

country        63
description     0
               ..
variety         1
winery          0
Length: 13, dtype: int64

# Keep going
Move on to the [**Renaming and combining workbook**](https://www.kaggle.com/kernels/fork/598826)